.comments {
    margin: 1rem 0;
    padding: 0 0.75rem;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commentLeft {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.commentDetails>span {
    font-size: 14px;
    color: #777;
}

.commentText {
    margin-left: 0.75rem;
    color: #222;
    font-size: 17px;
}

.commentImg {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
}
